* {
  box-sizing: border-box;
}

.table {
  display: grid;
  grid-template-columns: 80%;
}

.table_row {
  display: flex;
}

.table_header {
  font-size: 1.1rem;
  font-weight: bold;
}

.table_row div {
  width: 20%;
  padding: 0.5rem;
  border-bottom: 1px solid #555;
}

.table_row div:first-child {
  width: 10%;
}

.table_row div:last-child {
  flex: 1 1 auto;
}
